html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: rgb(255, 255, 255);
  color: rgb(51, 51, 51);
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}

/* Hide svg-sprite that is injected into body */
body > svg {
  height: 0;
  display: none;
  width: 0;
}

.content,
.page--footer {
  margin: 0 auto;
  text-align: center;
  max-width: 40rem;
}

.content:focus {
  outline: none;
}

a,
a:visited {
  color: rgb(0, 153, 0);
  transition: color 0.3s ease-out;
}

a:hover,
a:focus {
  color: rgb(51, 51, 51);
}

.nols {
  list-style: none;
  margin-right: 0;
  margin-left: 0;
  padding: 0;
}

.type,
.user-name {
  border: 0;
	clip-path: inset(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.social {
  display: inline-block;
  margin-right: 0.8125rem;
}

/* Fix extra spacing below svg */
.content svg {
  display: block;
}

a.social-link {
  background-color: rgb(51, 51, 51);
  border-radius: 50%;
  color: rgb(255, 255, 255);
  display: block;
  height: 2.75rem;
  padding: 0.5rem;
  transition: background-color 0.3s ease-out, color 0.3s ease-out;
  width: 2.75rem;
}

a.social-link:hover ,
a.social-link:focus {
  background-color: rgb(0, 153, 0);
  color: rgb(250, 250, 250);
}

.social-icon {
  display: inline-block;
  fill: currentColor;
  stroke: currentColor;
  height: 1.75rem;
  position: relative;
  vertical-align: middle;
  width: 1.75rem;
}

/* NOTE:
* .no-js leads to double download
* therefore I have added the sprite with noscript to the header
* TODO: keep the sprite in sync with what is added to header in the noscript-tag
*/
.no-svg .social-icon {
  background-image: url("./assets/images/sprite.png");
}

.no-js .social-icon,
.no-svg .social-icon {
  background-size: cover;
  background-repeat: no-repeat;
}

.no-js .social--codepen .social-icon,
.no-svg .social--codepen .social-icon {
  background-position: 0 0;
}

.no-js .social--facebook .social-icon,
.no-svg .social--facebook .social-icon {
  background-position: 0 -28px;
}

.no-js .social--github .social-icon,
.no-svg .social--github .social-icon {
  background-position: 0 -56px;
}

.no-js .social--instagram .social-icon,
.no-svg .social--instagram .social-icon {
  background-position: 0 -84px;
}

.no-js .social--twitter .social-icon,
.no-svg .social--twitter .social-icon {
  background-position: 0 -112px;
}
